nav {
  background-color: rgba(63, 81, 181, 1);
  width: 100%;
}

ul {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

#list {
  visibility: hidden;
}

#list:checked ~ .change{
  color: blue;
}

.list {
  visibility: visible;
}

.update {
  visibility: visible;
}

.add {
  visibility: visible;
}

li:not(:last-of-type)::after {
  content: '\203a';
  margin: 0 5px;
  color: rgba(204, 204, 204, 1);
}