.wrapper {
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  max-width: 80%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
  align-items: center;
  justify-content: center;
}

label {
  width: 88px;
  height: 24px;
  margin-right: 10px;
  text-align: left;
}

.form {
  margin-top: 20px;
}


.form-group {
  align-items: center;
}

.button-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button {
  width: 60px;
  border-radius: 8px;
  margin: 10px 7px 0px;
}

.saved {
  background-color: seagreen;
} 

.cancel {

  background-color: tomato;
}