<div class="wrapper">
  <div class="table">
    <div class="row header">
      <div class="cell">Id </div>
      <div class="cell">Product Type Name</div>
      <div class="cell"></div>
    </div>
    <div class="row" *ngFor='let productType of productTypeList'>
      <div class="cell">{{productType.idProductType}}</div>
      <div class="cell">{{productType.productTypeName}}</div>
      <div class="cell">
        <label for="show-modal">
          <img src="../../../assets/more.svg" class="img-more" alt="more">
        </label>
        <input type="radio" name="modal" id="show-modal">

        <!-- Modal Menu -->
        <div class="modal">
          <div class="wrapper-in">
            <div class="section">
            <h3>Advanced Options</h3>
            <div class="advanced-options">
              <div class="button update">
                <a [routerLink]="['/edit-product']">edit</a>
              </div>
              <div class="button delete">
                <a href="">delete</a>
              </div>
              <div class="button closed">
                <a href="/list-product-type">close</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>