@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(33, 33, 33, 1);
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: rgba(33, 33, 33, 1);
}