.wrapper {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color:rgba(174, 174, 174, 1);
  padding: 20px;
  border-radius: 3px;
}

.wrapper img {
  width: 400px;
  height: 400px;
}