header {
  width: 100%;
  display: flex;
  background-color:rgba(66, 66, 66, 1);
  flex-wrap: wrap;
  justify-content: space-between;
}

.breadcrumb .breadcrumb-list {
  display: inline-block;
}

.breadcrumb-list a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.breadcrumb-list:not(:last-of-type)::after {
  content: '\203a';
  margin: 0 5px;
  color: rgba(204, 204, 204, 1);
}

.options {
  display: flex;
  justify-content: space-between;
}

.admin-options {
  color: rgba(255, 255, 255, 1);
  margin: 0 3px;
}

.logout {
  margin: 0 0 0 5px;
  display: flex;
  align-items: center;
}

.logout img {
  width: 25px;
  height: 25px;
}