<header>
  <div class="breadcrumb">
    <div class="breadcrumb-list"><a [routerLink]="['home']">Home</a></div>
    <div class="breadcrumb-list"><a [routerLink]="['list-products']">List</a></div>
    <div class="breadcrumb-list"><a [routerLink]="['update-product']">Update</a></div>
    <div class="breadcrumb-list"><a [routerLink]="['add-product']">Add Product</a></div>
  </div>
  <div class="options">
    <div class="admin-options">
      admin &#x25BE;
    </div>
    <div class="logout">
      <img src="../../../assets/logout.svg" alt="exit">
    </div>
  </div>
</header>