.header {
  background-color: rgba(48, 63, 159, 1);
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav_link {
  display: flex;
}

.nav_link li {
  list-style: none;
  margin: 0px 5px 0px 5px;
}

.logout {
  margin-top: 1PX;
}

.logout img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
