<div class="container">

  <div class="link">
    <a [routerLink]="['List']">
      <div class="directorio"><img src="/assets/lista.png" alt="" class="imagen"></div>
      <div class="redirect">List</div>
    </a>
  </div>
  <div class="link">
    <a [routerLink]="['Created']">
      <div class="directorio"><img src="/assets/Crear.png" alt="" class="imagen"></div>
      <div class="redirect">Create</div>
    </a>
  </div>
  <div class="link">
    <a [routerLink]="['About']">
      <div class="directorio"><img src="/assets/About.png" alt="" class="imagen"></div>
      <div class="redirect">About us</div>
    </a>
  </div>