<div class="wrapper">
    <div class="info">
        <h3>Transaction History</h3>
        <p>Check here the history of transactions in the system</p>
    </div>
    <div class="table">
      <div class="row header">
        <div class="cell">ID</div>
        <div class="cell">Product Name</div>
        <div class="cell">In</div>
        <div class="cell">Out</div>
        <div class="cell">Modification Date</div>
      </div>
      <div class="row" *ngFor="let transaction of transactionHistoryList" >
        <div class="cell">{{transaction.idTransaction}}</div>
        <div class="cell">{{transaction.product.productName}}</div>
        <div class="cell">{{transaction.inStock}}</div>
        <div class="cell">{{transaction.outStock}}</div>
        <div class="cell">{{transaction.modificationDate}}</div>
      </div>
    </div>
  </div>