<div class="wrapper">
    <div class="info">
        <h3>Transaction History</h3>
        <p>Check here the history of transactions in the system</p>
    </div>
    <div class="table">
      <div class="row header">
        <div class="cell">ID</div>
        <div class="cell">Product Name</div>
        <div class="cell">In</div>
        <div class="cell">Out</div>
        <div class="cell">Stock</div>
        <div class="cell">Modification Date</div>
      </div>
      <div class="row" *ngFor="let transaction of transactionHistoryList" >
        <div class="cell">{{trasaction.idTransation}}</div>
        <div class="cell">{{trasaction.product.productName}}</div>
        <div class="cell">{{trasaction.inStock}}</div>
        <div class="cell">{{trasaction.outStock}}</div>
        <div class="cell">{{trasaction.product.stock}}</div>
        <div class="cell">{{trasaction.modificationDate}}</div>
      </div>
    </div>
  </div>