<div class="wrapper">
  <div class="table">
    <div class="row header">
      <div class="cell">Referencia</div>
      <div class="cell">Tipo Producto</div>
      <div class="cell">Nombre Producto</div>
      <div class="cell">Cantidad</div>
      <div class="cell">Acciones</div>
    </div>
    <div class="row">
      <div class="cell">dato 1</div>
      <div class="cell">dato 2</div>
      <div class="cell">dato 3</div>
      <div class="cell">dato 4</div>
      <div class="cell">
        <a href="#modal" id="show-modal">
          <img class="more-options" src="/assets/more-options.svg" alt="more">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="cell">dato 1</div>
      <div class="cell">dato 2</div>
      <div class="cell">dato 3</div>
      <div class="cell">dato 4</div>
      <div class="cell">
        <a href="#modal" id="show-modal">
          <img class="more-options" src="/assets/more-options.svg" alt="more">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="cell">dato 1</div>
      <div class="cell">dato 2</div>
      <div class="cell">dato 3</div>
      <div class="cell">dato 4</div>
      <div class="cell">
        <a href="#modal" id="show-modal">
          <img class="more-options" src="/assets/more-options.svg" alt="more">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="cell">dato 1</div>
      <div class="cell">dato 2</div>
      <div class="cell">dato 3</div>
      <div class="cell">dato 4</div>
      <div class="cell">
        <a href="#modal" id="show-modal">
          <img class="more-options" src="/assets/more-options.svg" alt="more">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="cell">dato 1</div>
      <div class="cell">dato 2</div>
      <div class="cell">dato 3</div>
      <div class="cell">dato 4</div>
      <div class="cell">
        <a href="#modal" id="show-modal">
          <img class="more-options" src="/assets/more-options.svg" alt="more">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="cell">dato 1</div>
      <div class="cell">dato 2</div>
      <div class="cell">dato 3</div>
      <div class="cell">dato 4</div>
      <div class="cell">
        <a href="#modal" id="show-modal">
          <img class="more-options" src="/assets/more-options.svg" alt="more">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="cell">dato 1</div>
      <div class="cell">dato 2</div>
      <div class="cell">dato 3</div>
      <div class="cell">dato 4</div>
      <div class="cell">
        <a href="#modal" id="show-modal">
          <img class="more-options" src="/assets/more-options.svg" alt="more">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Modal Menu -->
<div class="modal" id="modal">
  <div class="wrapper-in">
    <h3>Transactions</h3>
    <div class="transaction">
      <input type="text" placeholder="Add stock">
      <input type="text" placeholder="Out stock">
      <div class="container-button">
        <div class="button save">
          <a href="">save</a>
        </div>
      </div>
    </div>
      <h3>Advanced Options</h3>
      <div class="advanced-options">
          <div class="button update">
          <a href="">edit product</a>
        </div>
        <div class="button delete">
          <a href="">deleted</a>
        </div>
        <div class="button delete">
          <a href="">closed</a>
        </div>
      </div>
  </div>
</div>